//! **************************************************************************
// Written by: Map P.20131013 on Sat May 08 17:41:24 2021
//! **************************************************************************

SCHEMATIC START;
NET "CLK_BUFGP/IBUFG" BEL "CLK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

