//! **************************************************************************
// Written by: Map P.20131013 on Mon May 03 19:31:57 2021
//! **************************************************************************

SCHEMATIC START;
NET "CLK_BUFGP/IBUFG" BEL "CLK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

